
 html{
//height:100%;
box-sizing: border-box;
 }

body {
  //background-image: url(assets/images/background.png);
  background-image: url(assets/images/testBGwithoutBleed.svg);
  background-size: cover;
  /*pour rendre l'image responsive, qu'elle remplisse l'écran à n'importe quelle taille*/
  position:relative;
  height: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
}
//.............................................MENU
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Mansalva', cursive;
}

.overlay a {
  padding: 18px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*La navigation*/
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 450px;
}
ul {
  list-style: none;
}
li a {
  color: #1f4007;
  text-decoration: none;
  font-size: 36px;
}
/*Le bouton de la navigation*/
button {
  background-color: #1f4007;
  border: none;
  /*le bouton quizz trop bas, margin négatif pour le remonter, pour aligner avec les autres éléments de nav*/
  margin-top: -30px;
  padding: 30px 10px;
  border-radius: 25%;
  color: white;
  font-size: 36px;
  cursor: pointer;
  font-family: 'Mansalva', cursive;
}
.btn:hover {
  background-color: green;
  color: white;
}
.btn-send:hover{
  background-color: green;
}
//...........................................MENU
// .........................................IMAGES
//LOGO/////
#logo{
  width: 200px;
  height:200px;
  float:right;
  clear: both;
  margin-right: 40px;
}

//velo à l'animation
#velo-dessin {
  position: absolute;
  left: 0;
  margin-top: 400px;
}
.plateau-équipe{
  height: 50px;
  width: 50px;
  //rajouter de l'espace entre la petite image et le titre
  margin-right: 20px;
}
#guidon,
#casque,
#skull{
  height:220px;
  width:230;
  margin-top: -500px;
}
.partenaire{
  width:50px;
  height:auto;
}
/*............................................... effet sur images équipes ....................................*/
.flip-box-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
}

.flip-box-back {
  color: white;
  transform: rotateY(180deg);
}
/*........................................pour les sections...................................................*/
.marginLeftandRight {
  margin-left: 100px;
  margin-right: 100px;
}
.equipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-equipe {
  width: 220px;
  height: auto;
}
.prenom {
  margin-top: -30px;
  margin-left: -30px;
  color: black;
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Mansalva', cursive;
}

.geste,.secu,
.glossaire {
  padding: 50px 300px 90px 300px;
}
h1 {
  font-family: 'Mansalva', cursive;
  font-size:4em;
  width: 50vw;
  color: red;
}
.secu > p,
.geste > p{
  font-size: 20px;
}
//rajouter de l'espace entre les titres, page mécano
.margin-bottom{
  margin-bottom: 35px;
}
.margin-bottom-footer{
  margin-bottom: 150px;
}
/*.................................CONTACT..........................*/
form{
  width:400px;
  margin: 10px auto;
  padding:20px 50px;
  display: grid;
  grid-gap: 20px;
  margin-bottom: 200px;
  margin-left:350px;
}
label{
  font-family: 'Mansalva', cursive;
  text-align: center;
  margin: 0 auto;

}
textarea{
  padding:20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  background:transparent;
  border-bottom:3px darkgreen solid;
  overflow: hidden;
  border-top: none;
  border-left:none;
  border-right:none;
}
.btn{
  font-family: 'Mansalva', cursive;
  font-size:24px;
  font-weight: bolder;
}

/*.................................FOOTER.........................*/
footer{
  width: 100%;
  text-align: center;
  background-color: lightsalmon;
}
.footer-mecano{
  //position: absolute;
  bottom:0;
}
.footer-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#toto,
#partenaire{
  width:50px;
  height:auto;
}
h4{
  font-family: 'Mansalva', cursive; 
}
.phrase-footer{
  font-family: 'Mansalva', cursive; 

}

/*............TEST MENU................*/
/*petite pensée pour Yasmina xD*/
#fat{
  width: 50px;
  height: 50px;
  position: fixed;
  margin-left: 20px;
  margin-top: 40px;
}
#menuOut{
  width: 50px;
  height: 50px;
}
/*..........................INDEX-SLOGAN...............................*/
.sloganLeft{
  font-family: 'Mansalva', cursive;
  font-weight: bolder;
  font-size:3rem;
  position: absolute;
  margin-top: 100px;
  display: inline-block;
  margin-left: -500px;
}
.sloganRight{
  font-family: 'Mansalva', cursive;
  font-weight: bolder;
  font-size: 3rem;
  position: absolute;
  right: 0;
  margin-top: 200px;
  margin-right: -500px;
  display: inline-block;
}

/*........................PAGE Not FOUND...................................*/
/*
body {
  font-family: cursive;
  background: url("../img/bgError.svg") no-repeat center fixed;
  background-size: cover;
}
*/
.flex-container {
  position: relative;
}
.container {
  position: absolute;
}

/* Animations */

#transfo1:hover {
  /* L'animation s'utilisera au hover */
  animation: anim-transform 2s;
}

@keyframes anim-octopus {
  from {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-20px) rotate(-20deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateY(-40px) rotate(-40deg);
  }
  to {
    transform: translateY(0) rotate(0);
  }
}

.roue-wrapper {
  width: 100px;
  margin-top: 150px;
  margin-left: 100px;
}

#roue {
  width: 100px;
  margin-left: -40px;
  animation: anim-octopus 3s ease-out infinite;
}

@keyframes shadow {
  from {
    width: 100%;
    margin: 0 5%;
  }

  25% {
    width: 80%;
    margin: 0 10%;
  }

  50% {
    width: 100%;
    margin: 0 5%;
  }

  75% {
    width: 50%;
    margin: 0 25%;
  }

  to {
    width: 100%;
    margin: 0 5%;
  }
}

#shadow {
  animation: shadow 3s ease-out infinite;
}
#error {
  margin: 0 auto;
}
.align-center {
  text-align: center;
  font-family: 'Mansalva', cursive;
  font-size: 4.5rem;
  font-weight: bolder;
}

.quatre {
  width: 90px;
}
.flex{
  display:flex;
  flex-direction: row;
  justify-content: center;
}


.importantTitre{
  color: #1f4007;
  font-size: 7.5rem;
  margin-left:500px;
  padding:100px;
}
